<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../scripts/bootstrap/css/bootstrap.css" />
<style type="text/css">
	.container{
		width: 85%;
		height: 600px;
		margin: 50px auto;
	} 
	 .left{
		width: 20%;
		height: 100%;
		background-color: green;
		float: left;
		border:1px solid black;
	}
	.right{
		width: 78%;
		height: 100%;
		background-color: yellow;
		float: right;
		border:1px solid black;
	} 
</style>
</head>
<body>
    <div class="container1">
        <div class="container">         
            <ol class="breadcrumb">
                <li><a href="#">淘宝首页</a></li>
                <li><a href="#">家电</a></li>
                <li><a href="#">冰箱</a></li>
                <li>海尔冰箱</li>
            </ol>           
    </div>      
<div class="left">
    <dl class="ks-left-menu clear" id="left_menus">
        <dt>车型选择</dt>
        <dd class="menu-xc"><a href="http://mnks.jxedt.com/ckm1/">小车</a></dd>
        <dd class="menu-hc"><a href="http://mnks.jxedt.com/bkm1/" class="on">货车</a></dd>
        <dd class="menu-kc"><a href="http://mnks.jxedt.com/akm1/">客车</a></dd>
        <dd class="menu-mtc"><a href="http://mnks.jxedt.com/ekm1/">摩托车</a></dd>
        <dd class="menu-zgz"><a href="http://zgzks.jxedt.com/">从业资格证</a></dd>
        <dd class="menu-hf"><a href="http://mnks.jxedt.com/huifu/">恢复资格考试</a></dd>
    </dl>
</div>
<div class="right">
     <div class="ks-right-main-links clear">
            <div class="item">
                <div class="item-logo">
                    <a class="fill-color fill-yellow" href="http://mnks.jxedt.com/bkm1/sxlx/">
                        <div class="lg"></div>
                    </a>
                </div>
                <div class="item-txt">
                    <a href="http://mnks.jxedt.com/bkm1/sxlx/">顺序练习</a>
                </div>
            </div>
            <div class="item">
                <div class="item-logo">
                    <a class="fill-color fill-orange" href="http://mnks.jxedt.com/bkm1/sjlx/">
                        <div class="lg"></div>
                    </a>
                </div>
                <div class="item-txt">
                    <a href="http://mnks.jxedt.com/bkm1/sjlx/">随机练习</a>
                </div>
            </div>
            <div class="item">
                <div class="item-logo">
                    <a class="fill-color fill-blue" href="http://mnks.jxedt.com/bkm1/zjlx/">
                        <div class="lg"></div>
                    </a>
                </div>
                <div class="item-txt">
                    <a href="http://mnks.jxedt.com/bkm1/zjlx/">章节练习</a>
                </div>
            </div>
            <div class="item">
                <div class="item-logo">
                    <a class="fill-color fill-rose" href="http://mnks.jxedt.com/bkm1/zxlx/">
                        <div class="lg"></div>
                    </a>
                </div>
                <div class="item-txt">
                    <a href="http://mnks.jxedt.com/bkm1/zxlx/">专项练习</a>
                </div>
            </div>
            <div class="item">
                <div class="item-logo">
                    <a class="fill-color fill-pink" href="http://mnks.jxedt.com/bkm1/mnks/">
                        <div class="lg"></div>
                    </a>
                </div>
                <div class="item-txt">
                    <a href="http://mnks.jxedt.com/bkm1/mnks/">模拟考试</a>
                </div>
            </div>
            <div class="item">
                <div class="item-logo">
                    <a class="fill-color fill-green" href="http://mnks.jxedt.com/bkm1/wdct/">
                        <div class="lg"></div>
                    </a>
                </div>
                <div class="item-txt">
                    <a href="http://mnks.jxedt.com/bkm1/wdct/">错题练习</a>
                </div>
            </div>
        </div>
    </div>
     </div>

    <script type="text/javascript" src="../../scripts/jquery.js"></script>
    <script type="text/javascript" src="../../scripts/bootstrap/js/bootstrap.js"></script>
</body>
</html>