<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>学生在线考试系统</title>
<link rel="stylesheet" href="../../scripts/bootstrap/css/bootstrap.css" />
<!-- 弹出层 -->
<link rel="stylesheet" type="text/css" href="../../scripts/bootstrap3.3/jquery-confirm/css/jquery-confirm.css">
<style type="text/css">
	.container{
		margin-top: 50px;
	}
	.content{
		border:1px solid #ccc;
	}
	.radio{
		padding-left: 25px;
		font-size: 16px;
	}
	.btn{
		width: 110px;
		height: 50px;
		margin-left: 60px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.button{
		border:1px solid #ccc;
		border-top: none;
		padding: 25px 50px;

	}
	.button span{
		font-size: 16px;
		margin-left: 30px;
	}
	input[type='text']{
		width: 42px;
	    border: 1px solid #b0b0b0;
	    margin: 0 8px;
	    margin-bottom: 2px;
	}
	.chk_an {
	    font-size: 18px;
	    margin-left: 70px;
	}
	.an_result {
	    border-radius: 3px;
	    line-height: 42px;
	    height: 42px;
	    display: inline-block;
	    float: left;
	    padding: 0 12px;
	}

	.an_wrong1 {
	    background: #fcbabc;
	    border: 1px solid #fba4a7;
	    color: #fd0000;
	}
	.an_wrong {
	    background: #5cb85c;
	    border: 1px solid #5cb85c;
	}
	.an_why {
	    line-height: 42px;
	    margin-left: 20px;
	    color: #666;
	    cursor: pointer;
	}
</style>
</head>
<body>
	<div class="container">         
	    <ol class="breadcrumb" style="margin-bottom:5px">
	        <li><a href="../main.html">首页</a></li>
	        <li><a href="main.html">练习</a></li>
	        <li id="now"></li>
	    </ol>
	    <div class="content">
	    	<h3><b id="sort"></b>.<span id="ques"></span></h3>
	    	<br/>
	    	<div class="radio">
				<label for="r">
					<input type="hidden">
					<input type="radio"  value="A" name="radio" />A<span id="A"></span>
				</label>
			</div>
			<br/>
			<div class="radio">
				<label for="r">
					<input type="hidden">
					<input type="radio"  value="B" name="radio"/>B<span  id="B"></span>
				</label>
			</div>
			<br/>
			<div class="radio">
				<label for="r">
					<input type="hidden">
					<input type="radio" value="C"  name="radio" />C<span id="C"></span>
				</label>
			</div>
			<br/>
			<div class="radio">
				<label for="r">
					<input type="hidden">
					<input type="radio" value="D" name="radio"/>D<span id="D"></span>
				</label>
			</div>
			<div class="chk_an">
				<span id="rightanswer" style="display: none; text-align: left; width: 100%;">
					<span class="an_result an_wrong">恭喜您，您答对了</span>
					 <font class="an_why" onclick="gototieba()"></font>
				</span>
				<span id="rightanswer1" style="display: none; text-align: left; width: 100%;">
					<span class="an_result an_wrong1">答错了，正确答案是<b id="trueAswer"></b></span>
					 <font class="an_why" onclick="gototieba()"></font>
				</span>
			</div>
			<button type="button" class="btn btn-success" id="up">上一题</button>
			<button type="button" class="btn btn-success" id="next">下一题</button>
			<button type="button" class="btn btn-default" id="detail">本题详解</button>
	    </div>
	    <div class="button">
	    	<span>答对&nbsp;:<i id="tCount">0</i>&nbsp;题</span>
			<span>答错&nbsp;:<i id="fCount">0</i>&nbsp;题</span>
			<span>正确率&nbsp;:<i id="zhengQueLv">0</i>%&nbsp;</span>
			<span>共
				<font id="count">0</font>题,跳转到
				<input type="text" id="turn" value="">题
			</span>
	    </div>
	</div>
<script type="text/javascript" src="../../scripts/jquery.js"></script>
<script type="text/javascript" src='../../scripts/base.js'></script>
<script type="text/javascript" src='../../scripts/myTool.js'></script>
<script type="text/javascript" src="../../scripts/bootstrap/js/bootstrap.js"></script>
<!-- 弹出层 -->
<script src="../../scripts/bootstrap3.3/jquery-confirm/js/jquery-confirm.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//为导航栏赋值
		$("#now").html($.getParam("type"));
		$.post(baseUrl+CHOOOSE, {'number':1,'objCode':$.getParam("objCode")}, function(data, textStatus, xhr) {
			$("#ques").html(data.json.question[0].question)
			$("#A").html(data.json.question[0].answerA)
			$("#B").html(data.json.question[0].answerB)
			$("#C").html(data.json.question[0].answerC)
			$("#D").html(data.json.question[0].answerD)
			//保存本题详解
			localStorage.setItem("detail",data.json.question[0].detail)
			localStorage.setItem("ture",data.json.question[0].trueAnswer)
			/* alert($.jsonToStr(data))  */
			//隐藏弹出框
			$("#rightanswer").hide();
			$("#rightanswer1").hide();
		});
		//获得练习题个数
		$.post(baseUrl+GETCOUNT, {"objCode":$.getParam("objCode")}, function(data, textStatus, xhr) {
			$("#count").html(data);
			localStorage.setItem("count",data)
			if(data=='0'){
				$("#sort").html("");
			}else{
				$("#sort").html("1");
			}
		});
		$("#detail").click(function(event) {
			$.alert({
                title: '详解',
                content: localStorage.getItem("detail"),
                type:'green',             //一般危险操作用red,保存成功操作green
                buttons: {              //定义按钮
                    confirm: {
                        text: '确认',
                        btnClass: 'btn-primary',
                        action: function(){ //这里写点击按钮回调函数
                        }
                    }
                }
    		});
		});
		//点击下一题触发事件
		$("#next").click(function(event){
			var count = localStorage.getItem("count");
			var next = parseInt($("#sort").html())
			if(count==next){
				$.alert({
	                title: '提示',
	                content: '没有下一题了',
	                type:'red',             //一般危险操作用red,保存成功操作green
	                buttons: {              //定义按钮
	                    confirm: {
	                        text: '确认',
	                        btnClass: 'btn-primary',
	                        action: function(){ //这里写点击按钮回调函数
	                        }
	                    }
	                }
	    		});
			}else{
				//发送请求，请求下一题
				next = next+1;
				var objCode = localStorage.getItem("objCode");
				/*getData(next,objCode);*/
				$.post(baseUrl+CHOOOSE, {'number':next,'objCode':$.getParam("objCode")}, function(data, textStatus, xhr) {
					$("#ques").html(data.json.question[0].question)
					$("#A").html(data.json.question[0].answerA)
					$("#B").html(data.json.question[0].answerB)
					$("#C").html(data.json.question[0].answerC)
					$("#D").html(data.json.question[0].answerD)
					//保存本题详解
					localStorage.setItem("detail",data.json.question[0].detail)
					localStorage.setItem("ture",data.json.question[0].trueAnswer)
					$("#sort").html(next+"");
					//隐藏弹出框
					$("#rightanswer").hide();
					$("#rightanswer1").hide();
					//确定禁止选择属性
					$(".content input[type='radio']").attr('disabled',false);
					//去掉radio选中
					$(".content input[type='radio']").attr("checked",false); 
				});
				
			}
		});
		$("#up").click(function(event) {
			var sort = parseInt($("#sort").html());
			if(sort == '1'){
				$.alert({
	                title: '提示',
	                content: '没有上一题了',
	                type:'red',             //一般危险操作用red,保存成功操作green
	                buttons: {              //定义按钮
	                    confirm: {
	                        text: '确认',
	                        btnClass: 'btn-primary',
	                        action: function(){ //这里写点击按钮回调函数
	                        }
	                    }
	                }
	    		});
			}else{
				var up = sort -1;
				$.post(baseUrl+CHOOOSE, {'number':up,'objCode':$.getParam("objCode")}, function(data, textStatus, xhr) {
					$("#ques").html(data.json.question[0].question)
					$("#A").html(data.json.question[0].answerA)
					$("#B").html(data.json.question[0].answerB)
					$("#C").html(data.json.question[0].answerC)
					$("#D").html(data.json.question[0].answerD)
					//保存本题详解
					localStorage.setItem("detail",data.json.question[0].detail)
					localStorage.setItem("ture",data.json.question[0].trueAnswer)
					$("#sort").html(up+"");
					//隐藏弹出框
					$("#rightanswer").hide();
					$("#rightanswer1").hide();
					//确定禁止选择属性
					$(".content input[type='radio']").attr('disabled',false);
					//去掉radio选中
					$(".content input[type='radio']").attr("checked",false); 
				});
				
			}
		});
		function getData(next,objCode){
			$.post(baseUrl+CHOOOSE, {'number':next,'objCode':objCode}, function(data, textStatus, xhr) {
					$("#ques").html(data.json.question[0].question)
					$("#A").html(data.json.question[0].answerA)
					$("#B").html(data.json.question[0].answerB)
					$("#C").html(data.json.question[0].answerC)
					$("#D").html(data.json.question[0].answerD)
					//保存本题详解
					localStorage.setItem("detail",data.json.question[0].detail)
					localStorage.setItem("ture",data.json.question[0].trueAnswer)
					$("#sort").html(next+"");
					/* alert($.jsonToStr(data))  */
				});
		}
		//点击选择答案触发的事件
		$(".content").on('click', 'input[type="radio"]', function(event) {
			
			//判断选择的选项是否正确
			var trueAnswer = localStorage.getItem("ture");
			if($(this).val() == trueAnswer){
				var tCount = $("#tCount").html();
				$("#tCount").html(parseInt(tCount)+1);
				//计算正确率
				var zhengQueLv = (parseInt(tCount)+1)/$("#count").html()*100;
				$("#zhengQueLv").html(zhengQueLv.toFixed(2))
				
				$("#rightanswer").show();
			}else{
				var fCount = $("#fCount").html();
				$("#fCount").html(parseInt(fCount)+1)
				$("#trueAswer").html(trueAnswer);
				$("#rightanswer1").show();
			}
			//选择答案后禁止再次选择
			$(".content input[type='radio']").attr('disabled',true);
		});
		//跳转功能
		$("#turn").blur(function(){
			var turn = parseInt($("#turn").val());
			if(isNaN(turn)){
				$.alert({
	                title: '提示',
	                content: '请输入正确的数字！',
	                type:'red',             //一般危险操作用red,保存成功操作green
	                buttons: {              //定义按钮
	                    confirm: {
	                        text: '确认',
	                        btnClass: 'btn-primary',
	                        action: function(){ //这里写点击按钮回调函数
	                        	$("#turn").val('');
	                        }
	                    }
	                }
	    		});
				
				return;
			}
			if(turn<=0){
				$.alert({
	                title: '提示',
	                content: '输入的题号不能小于等于0',
	                type:'red',             //一般危险操作用red,保存成功操作green
	                buttons: {              //定义按钮
	                    confirm: {
	                        text: '确认',
	                        btnClass: 'btn-primary',
	                        action: function(){ //这里写点击按钮回调函数
	                        }
	                    }
	                }
	    		});
			}else if(turn>parseInt($("#count").html())){
				$.alert({
	                title: '提示',
	                content: '输入的题号不能大于总题数',
	                type:'red',             //一般危险操作用red,保存成功操作green
	                buttons: {              //定义按钮
	                    confirm: {
	                        text: '确认',
	                        btnClass: 'btn-primary',
	                        action: function(){ //这里写点击按钮回调函数
	                        }
	                    }
	                }
	    		});
			}else{
				$.post(baseUrl+CHOOOSE, {'number':turn,'objCode':$.getParam("objCode")}, function(data, textStatus, xhr) {
					$("#ques").html(data.json.question[0].question)
					$("#A").html(data.json.question[0].answerA)
					$("#B").html(data.json.question[0].answerB)
					$("#C").html(data.json.question[0].answerC)
					$("#D").html(data.json.question[0].answerD)
					//保存本题详解
					localStorage.setItem("detail",data.json.question[0].detail)
					localStorage.setItem("ture",data.json.question[0].trueAnswer)
					$("#sort").html(trun+"");
					//隐藏弹出框
					$("#rightanswer").hide();
					$("#rightanswer1").hide();
					//确定禁止选择属性
					$(".content input[type='radio']").attr('disabled',false);
					//去掉radio选中
					$(".content input[type='radio']").attr("checked",false); 
				});
			}
		});
	});
</script>
</body>
</html>