<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>学生在线考试系统</title>
<link rel="stylesheet" href="../../scripts/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="../../scripts/bootstrap3.3/bootstrap-table/bootstrap-table.css"/>
</head>
<body>
<!--表格操作按钮    -->
	<!-- <div  class="btn-group" id="toolBar" style="height:11px">
		<button id="refresh" class="btn btn-default" onclick="searchDatas();" style="float:left"><span class="glyphicon glyphicon-repeat"></span>刷新</button> 
	</div> -->
	<table id="table" data-response-handler="responseHandler">
	</table>
	
	<div id="pageInfo"></div>
	<!--模态层-->
	<div class="modal fade" id="myModal">
		<!-- <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="text-center">试题详情</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
						 		<label for="name" class="col-md-6 control-label">描述：</label>
								<div class="col-md-6">
									<p>优惠截止时间</p>
					    		</div>
					    	</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</body>
<script type="text/javascript" src="../../scripts/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src='../../scripts/base.js'></script>
<script type="text/javascript" src='../../scripts/myTool.js'></script>
<script type="text/javascript" src="../../scripts/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../scripts/bootstrap3.3/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="../../scripts/bootstrap3.3/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<!-- 弹出层 -->
<script src="../../scripts/bootstrap3.3/jquery-confirm/js/jquery-confirm.js"></script>
<script type="text/javascript">
//初始化bootStrapTable
$('#table').bootstrapTable({
        url: baseUrl + GETSCORE,        //请求后台的URL（*）
        method: 'post',                      //请求方式（*）
                    //工具按钮用哪个容器
        striped: true,                      //是否显示行间隔色
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        sortable: true,                     //是否启用排序
        sortOrder: "asc",                   //排序方式
        //sortName:"id",
        dataType:'json',
        queryParamsType : "undefined",
        contentType: "application/x-www-form-urlencoded",
        queryParams: function queryParams(params) {   //设置查询参数
          var param = {
        	//设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
        	//设置为limit可以获取limit, offset, search, sort, order
            pageNo:params.pageNumber,
            pageSize:params.pageSize,
            orderBy:params.sortName,
            orderType:params.sortOrder,
            searchText:params.searchText
          };
          return param;
        },
        pager: "#pageInfo",
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        pageNumber:1,                       //初始化加载第一页，默认第一页
        pageSize: 5,                       //每页的记录行数（*）
        pageList: [5,10,15,20,25],        //可供选择的每页的行数（*）
        search: true, 
        searchOnEnterKey: true,//回车搜索
        showRefresh: true,//刷新按钮
        showColumns: true,//是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
        strictSearch: true,
        showColumns: true,                  //是否显示所有的列
        showRefresh: true,                 //是否显示刷新按钮
        minimumCountColumns: 2,             //最少允许的列数
        clickToSelect: true,                //是否启用点击选中行  
        maintainSelected:false,
        checkboxHeader:true,
       /*  height:210, */                   //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
        uniqueId: "infoId",               //每一行的唯一标识，一般为主键列
        showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
        cardView: false,                    //是否显示详细视图
        detailView: false,                  //是否显示父子表
       	showExport: false,                   //是否显示导出
        exportDataType: "basic",            //basic', 'all', 'selected'
        onClickRow: function(row, $element) {
           //$element是当前tr的jquery对象
          // $element.css("background-color", "green");
       },//单击row事件    
        columns: [{
				disabled : true,
				checkbox : true,
				align : 'center',
				valign : 'middle'
			},{
				title : '主键',
				field : 'id',
				align : 'center',
				valign : 'middle',
				sortable : true,
				visible:false
			},
			
			{	title : '学号',
				field : 'stuid',
				align : 'center',
				valign : 'middle',
				sortable : true
			},
			{
				title : '性别',
				field : 'quesid',
				align : 'center',
				valign : 'middle',
				sortable : true,
				editoptions : {
					value : '0:男;1:女;2：其它'
				},
				formatter : function(v) {
					if (v == "0") {
						return "男";
					} else if(v == "1") {
						return "女";
					}else if(v == "2"){
						return"其它";
					} 
				}
			}, 
			{	title : '成绩',
				field : 'score',
				align : 'center',
				valign : 'middle',
				sortable : true
			},
			{	title : '学科',
				field : 'object',
				align : 'center',
				valign : 'middle',
				sortable : true
			},
			{	title : '学院',
				field : 'collage',
				align : 'center',
				valign : 'middle',
				sortable : true
			},
			{	title : '专业',
				field : 'major',
				align : 'center',
				valign : 'middle',
				sortable : true
			},
			{	title : '班级',
				field : 'class1',
				align : 'center',
				valign : 'middle',
				sortable : true
			},
			{	title : '排名',
				field : 'ranking',
				align : 'center',
				valign : 'middle',
				sortable : true
			},
			{	title : '考试时间',
				field : 'creteTime',
				align : 'center',
				valign : 'middle',
				sortable : true,
				formatter : function(v) {
					return $.timestampToTime(v);
				}
			}		
			],
			responseHandler : function(res) {  
				 console.log(res.records )
				 console.log(res.total )
	            return {  
	                total : res.total,  
	                rows : res.records 
	                
	            };  
	           
	        },  
		    
       	}); 
	/**刷新*/
	function searchDatas() {
	
		$('#table').bootstrapTable('refresh');  //刷新列表
	}
	
	function detail(row){
		var myModal = $("#myModal");
		myModal.empty();
		var str = '';
		str += '<div class="modal-dialog">';
		str += '<div class="modal-content">';
		str += '<div class="modal-header">';
		str += '<button type="button" class="close" data-dismiss="modal">&times;</button>';
		str += '<h4 class="text-center">试题详情</h4>';
		str += '</div>';
		str += '<div class="modal-body">';
		str += '<div class="row">';
		str += '<div class="col-md-12">';
		str += '<div class="form-group">';
		str += '<label for="name" class="col-md-6 control-label">描述：</label>';
		str += '<div class="col-md-6">';
		str += '<p>'+row.detail+'</p>';
		str += '</div>';
		str += '</div>';
		str += '</div>';
		str += '</div>';
		str += '</div>';
		str += '</div>';
		str += '</div>';
		myModal.append(str);
		$("#myModal").modal({
			backdrop:'static', /*点击黑色区域不关闭*/
			keyboard:false     /*ESC键不关闭*/
		});
	}
	
	
	/** 替换数据为文字 */  
	function genderFormatter(value) {  
	    if (value == null || value == undefined) {  
	        return "-";  
	    } else if (value==1) {  
	        return "已删除";  
	    } else if(value==0){  
	        return "正常";  
	    }  
	}  
	/** 刷新页面 */  
	function refresh() {  
	    $('#empUserList').bootstrapTable('refresh');  
	}  
	/**查询条件与分页数据 */  
	function queryParams(pageReqeust) {  
	    pageReqeust.enabled = $("#enabled").val();  
	    pageReqeust.querys = $("#querys").val();  
	    pageReqeust.pageNo = this.offset;  
	    pageReqeust.pageSize = this.pageNumber;  
	    return pageReqeust;  
	}  
	/** 编辑数据 */  
	function editHr() {  
	    var selectRow = $("#empUserList").bootstrapTable('getSelections');  
	    if (selectRow.length != 1) {  
	        layer.alert('请选择并只能选择一条数据进行编辑！', {icon: 2});  
	        return false;  
	    } else {  
	        window.location = createUrl("admin/hrEmployee/view?username=" + selectRow[0].userName);  
	    }  
	}  
</script>
</html>