<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<!--引入bootstrap的核心css-->
	<link rel="stylesheet" href="../../scripts/bootstrap/css/bootstrap.min.css" />
	<title>在线考试系统</title>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}
		
		body {
			background: #333333;
		}

		/*左侧导航链接*/
		.nav-left .list-group-item {
			background: transparent;
			border: none;
			border-radius: 0!important;
			line-height: 45px;
			text-align: center;
			color: #eeeeee;
			font-size: 16px;
			letter-spacing: 1px;
			border-bottom: 1px solid #444444;
		}
	</style>

</head>
<body>
	<div class="container-fluid">
		
		<!-- 左侧导航链接 -->
		<div class="row nav-left">
			<div class="list-group">
				<a href="../main.html" target="_top" class="list-group-item">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>
				<a href="paper.html" target="content" class="list-group-item">试&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;卷</a>
				<a href="main.html" target="content" class="list-group-item">成绩排名</a>
				<a href="../../Login.html" target="_top" class="list-group-item">退出登录</a>
			</div>
		</div>
	</div>

	<!--引入jquery-->
	<script src="../../scripts/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src='../../scripts/base.js'></script>
	<script type="text/javascript" src='../../scripts/myTool.js'></script>
	<script type="text/javascript" src="../../scripts/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../scripts/bootstrap3.3/bootstrap-table/bootstrap-table.js"></script>
	<script type="text/javascript" src="../../scripts/bootstrap3.3/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	<!-- 弹出层 -->
	<script src="../../scripts/bootstrap3.3/jquery-confirm/js/jquery-confirm.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
					

		});
	</script>
</body>
</html>