<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>学生在线考试系统</title>
<link href="../css/modifyPassword.css" rel='stylesheet' type='text/css' />
<link href="../scripts/bootstrap3.3/bootstrapValidator/css/bootstrapValidator.min.css" rel='stylesheet' type='text/css' />
</head>
<body>
	<div class="main">
		<div class="login">
			<div class="inset">
				<!-----start-main---->
				<form id="form" >
			         <div class="form-group">
						<span><label>账号</label></span>
						<span><input type="text" class="" id="code" name="code"></span>
					 </div>
					 <div class="form-group">
						<span><label>邮箱</label></span>
						<span><input type="text" class="" id="email" name="email"></span>
					 </div>
					 <div class="form-group">
						<span><label>原密码</label></span>
					    <span><input type="password" class="" name="prePass"></span>
					 </div>
					 <div class="form-group">
						<span><label>新密码</label></span>
					    <span><input type="password" class="" name="nowPass"></span>
					 </div>
					 <div class="form-group">
						<span><label>验证码</label></span>
					    <span><input type="password" class="" name="num"></span>
					 </div>
					<div class="sign">
						<div class="submit">
						  <input type="button"  id="send" value="发送验证码" >
						</div>
						<div class="submit" style="margin-left:45px">
						  <input type="button"  id="turn" value="登录" >
						</div>
						<div class="submit" style="float:right">
						  <input type="button"  id="update" value="修改    密码" >
						</div>
						<div class="clear"> </div>
					</div>
					</form>
				</div>
			</div>
		<!-----//end-main---->
		</div>
</body>
<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../scripts/base.js"></script>
<script type="text/javascript" src="../scripts/bootstrap3.3/bootstrapValidator/js/bootstrapValidator.min.js"></script>
<!-- 引入layer弹出层js功能 -->
<script type="text/javascript" src="../scripts/layer/layer.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		/* 表单验证 */
		$("#form").bootstrapValidator({
	        live: 'disabled',//验证时机，enabled是内容有变化就验证（默认），disabled和submitted是提交再验证
	        excluded: [':disabled', ':hidden', ':not(:visible)'],//排除无需验证的控件，比如被禁用的或者被隐藏的
	        submitButtons: '#btn-test',//指定提交按钮，如果验证失败则变成disabled，但我没试成功，反而加了这句话非submit按钮也会提交到action指定页面
	        message: '通用的验证失败消息',//好像从来没出现过
	        feedbackIcons: {//根据验证结果显示的各种图标
	            valid: 'glyphicon glyphicon-ok',
	            invalid: 'glyphicon glyphicon-remove',
	            validating: 'glyphicon glyphicon-refresh'
	        },
	        fields: {
	            code: {
	                validators: {
	                    notEmpty: {//检测非空,radio也可用
	                        message: '请输入账号'
	                    }
	                }
	            },
	            email: {
	                validators: {
	                    notEmpty: {//检测非空,radio也可用
	                        message: '请输入邮箱'
	                    }
	                }
	            },
	            nowPass: {
	                validators: {
	                    notEmpty: {//检测非空,radio也可用
	                        message: '请出入新密码'
	                    }
	                }
	            },
	            prePass: {
	                validators: {
	                    notEmpty: {//检测非空,radio也可用
	                        message: '请输入原始密码'
	                    }
	                }
	            },
	            num: {
	                validators: {
	                    notEmpty: {//检测非空,radio也可用
	                        message: '请输入验证码'
	                    }
	                }
	            }
	        }      
	    });
		$("#send").click(function(event) {
			var email = $("#email").val();
			var code = $("#code").val();
			if(code ==null){
				layer.msg("请输入账号！")
			}
			if(isEmail(email)){
				layer.load();
				$.post(baseUrl+SENDNUMTOEMAIL, {email:email,code:code}, function(data, textStatus, xhr) {
					layer.closeAll();
					if(data==true){
						layer.msg("验证码发送成功")
					}else{
						layer.msg("验证码发送失败");
					}
				});
			}else{
				layer.msg("请输入正确的邮箱格式");
			}
		});
		$("#update").click(function(event) {
			$("#form").bootstrapValidator('validate');//提交验证
			/* 判断是否验证成功 */
	        if ($("#form").data('bootstrapValidator').isValid()) {
	        	$.post(baseUrl+MODIFPASS, $("#form").serialize(), function(data, textStatus, xhr) {
	        		if(data == '1'){
	        			layer.msg("账号错误");
	        		}else if(data == '2'){
						layer.msg("原始密码错误");
	        		}else if(data == '3'){
						layer.msg("验证通过，请重新登录");
						setInterval(turn,2000);
	        		}
	        	});
	        }
		});
		
		/* 验证邮箱函数 */
		function isEmail(str){ 
			var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/; 
			return reg.test(str); 
		}
		$("#turn").click(function(event) {
			turn();
		});
		function turn(){
			window.location.href = '../Login.html';
		}
	});
		
	
</script>
</html>